<div class="container mb-4">
  <h2 class="text-center text-primary mt-4 mb-4">Setor Administrativo - Titanium</h2>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/clientes" routerLinkActive="active">Clientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/funcionarios" routerLinkActive="active">Funcionários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pagamentos" routerLinkActive="active">Pagamentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/horarios" routerLinkActive="active">Horários</a>
    </li>
  </ul>
</div>